<a href="https://colab.research.google.com/github/bebelana/analiseDadosPandas/blob/main/aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeiro exemplo de manipulação de dados com o **Pandas**

Autor: Ana Izabel

Data: 06/02/2023

In [11]:
# Importando biblioteca pandas do python
import pandas as pd

In [12]:
# Carregando um conjunto de dados
df = pd.read_csv("/precos-semestrais-ca-2022-01.csv",sep=";")

In [10]:
# Verificando linhas e colunas do dataframe 
df.shape

(529424, 16)

In [13]:
# Exibindo as primeiras 5 linhas do DataFrame
print(df.head())

  Regiao - Sigla Estado - Sigla   Municipio                    Revenda  \
0              N             AC  RIO BRANCO  AUTO POSTO AMAPA - EIRELI
1              N             AC  RIO BRANCO  AUTO POSTO AMAPA - EIRELI
2              N             AC  RIO BRANCO  AUTO POSTO AMAPA - EIRELI
3              N             AC  RIO BRANCO  AUTO POSTO AMAPA - EIRELI
4              N             AC  RIO BRANCO  AUTO POSTO AMAPA - EIRELI

       CNPJ da Revenda       Nome da Rua Numero Rua Complemento Bairro  \
0   00.529.581/0001-53  VIA CHICO MENDES       3570         NaN  AREAL
1   00.529.581/0001-53  VIA CHICO MENDES       3570         NaN  AREAL
2   00.529.581/0001-53  VIA CHICO MENDES       3570         NaN  AREAL
3   00.529.581/0001-53  VIA CHICO MENDES       3570         NaN  AREAL
4   00.529.581/0001-53  VIA CHICO MENDES       3570         NaN  AREAL

         Cep             Produto Data da Coleta Valor de Venda  \
0  69906-119            GASOLINA     03/01/2022           6,99
1  69906-119              ETANOL     03/01/2022           5,99
2  69906-119              DIESEL     03/01/2022           6,09
3  69906-119  GASOLINA ADITIVADA     03/01/2022           7,05
4  69906-119          DIESEL S10     03/01/2022           6,12

   Valor de Compra Unidade de Medida       Bandeira
0              NaN        R$ / litro  VIBRA ENERGIA
1              NaN        R$ / litro  VIBRA ENERGIA
2              NaN        R$ / litro  VIBRA ENERGIA
3              NaN        R$ / litro  VIBRA ENERGIA
4              NaN        R$ / litro  VIBRA ENERGIA

In [14]:
# Exibindo os nomes das colunas existentes do dataframe
print(df.columns)

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [15]:
# Obtendo informações sobre o DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529424 entries, 0 to 529423
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     529424 non-null  object
 1   Estado - Sigla     529424 non-null  object
 2   Municipio          529424 non-null  object
 3   Revenda            529424 non-null  object
 4   CNPJ da Revenda    529424 non-null  object
 5   Nome da Rua        529424 non-null  object
 6   Numero Rua         529211 non-null  object
 7   Complemento        113936 non-null  object
 8   Bairro             527991 non-null  object
 9   Cep                529424 non-null  object
 10  Produto            529424 non-null  object
 11  Data da Coleta     529424 non-null  object
 12  Valor de Venda     529424 non-null  object
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  529424 non-null  object
 15  Bandeira           529424 non-null  object
dtypes: float64(1), object(15)
memory usage: 64.6+ MB
None