<a href="https://colab.research.google.com/github/bebelana/analiseDadosPandas/blob/main/aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Manipulação de dados com o Pandas

Autor: Ana Izabel

Data: 09/02/2023

In [ ]:
# Importando biblioteca pandas do python
import pandas as pd

In [ ]:
# Carregando um conjunto de dados
df = pd.read_excel("/ca-2021-02.xlsx")

In [ ]:
# Inserindo coluna
df['Ativo'] = True
df.head(5)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [ ]:
df['Obs'] = ["Melhor Estado" if municipio == 'MG' else '' for municipio in df['Estado - Sigla']]
filtrado = df.loc[df['Estado - Sigla'] == 'MG']
display(filtrado)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs
385,SE,MG,CONTAGEM,NORTESUL POSTOS E SERVIÇOS LTDA,00.829.096/0002-86,AVENIDA HELENA DE VASCONCELOS COSTA,1235,NaN,FAZENDA DAS PEROBAS,32370-000,GASOLINA,2021-11-01,6.795,NaN,R$ / litro,IPIRANGA,True,Melhor Estado
386,SE,MG,CONTAGEM,NORTESUL POSTOS E SERVIÇOS LTDA,00.829.096/0002-86,AVENIDA HELENA DE VASCONCELOS COSTA,1235,NaN,FAZENDA DAS PEROBAS,32370-000,ETANOL,2021-11-01,5.495,NaN,R$ / litro,IPIRANGA,True,Melhor Estado
387,SE,MG,CONTAGEM,NORTESUL POSTOS E SERVIÇOS LTDA,00.829.096/0002-86,AVENIDA HELENA DE VASCONCELOS COSTA,1235,NaN,FAZENDA DAS PEROBAS,32370-000,DIESEL,2021-11-01,5.295,NaN,R$ / litro,IPIRANGA,True,Melhor Estado
388,SE,MG,CONTAGEM,NORTESUL POSTOS E SERVIÇOS LTDA,00.829.096/0002-86,AVENIDA HELENA DE VASCONCELOS COSTA,1235,NaN,FAZENDA DAS PEROBAS,32370-000,DIESEL S10,2021-11-01,5.355,NaN,R$ / litro,IPIRANGA,True,Melhor Estado
389,SE,MG,CONTAGEM,POSTO R.E.M. LTDA,41.705.211/0002-98,AVENIDA JOAO CESAR DE OLIVEIRA,5120,NaN,JARDIM MARROCOS,32040-000,GASOLINA,2021-11-01,6.865,NaN,R$ / litro,VIBRA ENERGIA,True,Melhor Estado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168398,SE,MG,ITUIUTABA,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,45.236.791/0107-40,AVENIDA GOVERNADOR JOSE DE MAGALHAES PINTO,131,NaN,MARIA VILELA,38301-078,GASOLINA ADITIVADA,2021-12-31,7.059,NaN,R$ / litro,IPIRANGA,True,Melhor Estado
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA,True,Melhor Estado
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA,True,Melhor Estado
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA,True,Melhor Estado
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA,True,Melhor Estado

In [ ]:
import numpy as np

In [ ]:
#por Leandro e alterado por mim adicionando outra verificação
# Adicionando a nova coluna "Status preço"
df['Status preco'] = np.where((df['Valor de Venda'] > 5.5) & (df['Produto'] == 'GASOLINA'), 'Caro', 'Barato')

In [ ]:
display(df[['Produto', 'Obs', 'Valor de Venda', 'Status preco']])

                   Produto            Obs  Valor de Venda Status preco
0                 GASOLINA                          6.799         Caro
1                   ETANOL                          5.299       Barato
2                   DIESEL                          5.549       Barato
3       GASOLINA ADITIVADA                          6.899       Barato
4               DIESEL S10                          5.649       Barato
...                    ...            ...             ...          ...
168404              ETANOL                          5.859       Barato
168405            GASOLINA  Melhor Estado           6.580         Caro
168406              ETANOL  Melhor Estado           4.740       Barato
168407          DIESEL S10  Melhor Estado           5.448       Barato
168408  GASOLINA ADITIVADA  Melhor Estado           6.580       Barato

[168409 rows x 4 columns]

In [ ]:
# Criando Data Frame 
habitantes_cidade_df = pd.read_csv("/ibge_num_habitantes_estimado.csv", sep=';' )
display(habitantes_cidade_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [ ]:
# Deixar colunas com  nomes iguais 
habitantes_cidade_df.rename(columns={'Estado':'Estado - Sigla'}, inplace=True)
display(habitantes_cidade_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [56]:
# Unindo os dois dataframes pelo atributo "Municipio"
df = pd.merge(df, habitantes_cidade_df, on=['Municipio', 'Estado - Sigla'])
display(df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Unidade de Medida,Bandeira,Ativo,Obs,Status preco,NumHabitantes2021_x,Numero de Postos,Postos por habitantes,NumHabitantes2021_y,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Caro,1555626,20634,0.013264,1555626,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Barato,1555626,20634,0.013264,1555626,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Barato,1555626,20634,0.013264,1555626,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,R$ / litro,BRANCA,True,,Caro,1555626,20634,0.013264,1555626,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,R$ / litro,BRANCA,True,,Barato,1555626,20634,0.013264,1555626,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,...,R$ / litro,IPIRANGA,True,,Caro,260690,20634,0.079151,260690,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Caro,260690,20634,0.079151,260690,260690

In [57]:
# Criando uma nova coluna com o número de postos 
num_postos = df['Revenda'].count()
df['Numero de Postos'] = num_postos
display(df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Unidade de Medida,Bandeira,Ativo,Obs,Status preco,NumHabitantes2021_x,Numero de Postos,Postos por habitantes,NumHabitantes2021_y,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Caro,1555626,20634,0.013264,1555626,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Barato,1555626,20634,0.013264,1555626,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Barato,1555626,20634,0.013264,1555626,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,R$ / litro,BRANCA,True,,Caro,1555626,20634,0.013264,1555626,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,R$ / litro,BRANCA,True,,Barato,1555626,20634,0.013264,1555626,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,...,R$ / litro,IPIRANGA,True,,Caro,260690,20634,0.079151,260690,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Caro,260690,20634,0.079151,260690,260690

In [58]:
# calcular postos por habitantes
df['Postos por habitantes'] = df['Numero de Postos'] / df['NumHabitantes2021']
display(df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Unidade de Medida,Bandeira,Ativo,Obs,Status preco,NumHabitantes2021_x,Numero de Postos,Postos por habitantes,NumHabitantes2021_y,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Caro,1555626,20634,0.013264,1555626,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Barato,1555626,20634,0.013264,1555626,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,R$ / litro,RAIZEN,True,,Barato,1555626,20634,0.013264,1555626,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,R$ / litro,BRANCA,True,,Caro,1555626,20634,0.013264,1555626,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,R$ / litro,BRANCA,True,,Barato,1555626,20634,0.013264,1555626,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,...,R$ / litro,IPIRANGA,True,,Caro,260690,20634,0.079151,260690,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Barato,260690,20634,0.079151,260690,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,R$ / litro,RAIZEN,True,,Caro,260690,20634,0.079151,260690,260690

In [62]:
df.dropna(axis='columns', inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Regiao - Sigla         20634 non-null  object
 1   Estado - Sigla         20634 non-null  object
 2   Municipio              20634 non-null  object
 3   Revenda                20634 non-null  object
 4   CNPJ da Revenda        20634 non-null  object
 5   Nome da Rua            20634 non-null  object
 6   Numero Rua             20634 non-null  object
 7   Bairro                 20634 non-null  object
 8   Cep                    20634 non-null  object
 9   Produto                20634 non-null  object
 10  Data da Coleta         20634 non-null  datetime64[ns]
 11  Valor de Venda         20634 non-null  float64
 12  Unidade de Medida      20634 non-null  object
 13  Bandeira               20634 non-null  object
 14  Ativo                  20634 non-null  bool
 15  Obs                    20634 non-null  object
 16  Status preco           20634 non-null  object
 17  NumHabitantes2021_x    20634 non-null  int64
 18  Numero de Postos       20634 non-null  int64
 19  Postos por habitantes  20634 non-null  float64
 20  NumHabitantes2021_y    20634 non-null  int64
 21  NumHabitantes2021      20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(4), object(14)
memory usage: 3.5+ MB
None

In [63]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Status preco', 'Obs','NumHabitantes2021_x','NumHabitantes2021_y' ]
df.drop(labels=colunas, axis=1, inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Estado - Sigla         20634 non-null  object
 1   Municipio              20634 non-null  object
 2   Revenda                20634 non-null  object
 3   CNPJ da Revenda        20634 non-null  object
 4   Numero de Postos       20634 non-null  int64
 5   Postos por habitantes  20634 non-null  float64
 6   NumHabitantes2021      20634 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.3+ MB
None

In [70]:
df.drop_duplicates(inplace=True)
display(df)0

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Numero de Postos,Postos por habitantes,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,20634,0.013264,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,20634,0.013264,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,20634,0.013264,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,20634,0.013264,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,20634,0.013264,1555626
...,...,...,...,...,...,...,...
20431,SP,INDAIATUBA,AUTO POSTO GARATEIA LTDA.,17.691.073/0001-70,20634,0.079151,260690
20463,SP,INDAIATUBA,AUTO POSTO SAO PAULO LIMITADA,49.446.370/0001-46,20634,0.079151,260690
20491,SP,INDAIATUBA,AUTO POSTO EKKO PARK LTDA,12.114.176/0001-53,20634,0.079151,260690
20579,SP,INDAIATUBA,"AUTO POSTO SANTOS DUMONT KM 48,5 LTDA",57.920.977/0001-44,20634,0.079151,260690
20608,SP,INDAIATUBA,AUTO POSTO DISTRITO DE INDAIA LTDA,09.536.396/0001-60,20634,0.079151,260690